<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
	<add key="ClientId" value="784d08e7-4832-4c33-a0b7-290bcedfa7c0"/>
	<add key="AuthServer" value="account-d.docusign.com"/>
	<add key="ImpersonatedUserID" value="866198bf-877b-4452-957e-f35874e4cd98"/>
	<add key="PrivateKeyFile" value="../../../private.key"/>
</appSettings>
</configuration>